# Informations Crédit Agricole
CA_USERNAME=votre_identifiant
CA_PASSWORD=votre_mot_de_passe
CA_REGION=votre_region
CA_ACCOUNT_NUMBERS=vos_numéros_de_compte

# Chemin pour stocker les fichiers
CA_BASE_PATH=/data
CA_DOWNLOAD_PATH=/data/downloads
CA_OUTPUT_PATH=/data/output
CA_OUTPUT_DIR=/data/output
CA_OUTPUT_FILE_NAME=output.xlsx
CA_FILE_EXTENSION=xlsx

# Sécurité API
CA_API_KEY=votre_cle_api

# Debug
CA_DEBUG_MODE=true 